/*Fondo*/
body {
    background-color: rgb(250, 225, 218);

}

/*Banner*/
.Banner {
    justify-content: center;
    width: 100%;
}

/* menu */
.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;

}

/* items del menu */
.menu ul li {
    background-color: #ff6593;
}

/* enlaces del menu */
.menu ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

/* items del menu */
.menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

/* efecto al pasar el ratón por los items del menu */
.menu ul li:hover {
    background: #f9b6ca;
}

/* Submenu*/
.nav2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.submenu:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}


/*Link para volver arriba*/
#Arriba {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: right
}

a:link {
    color: #fff;
}

a:hover {
    color: #f5658e;
}

a:visited {
    color: rgb(182, 63, 127);
}

a:active {
    color: salmon;
}

/*Grid Index*/

.grid-container {

    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;

}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template:
        "header" 600px
        "main" auto
        "footer" 100px;
}



/*Footer*/
footer {
    position: relative;
    text-align: right;
    bottom: 0;
    width: 100%;
    padding-bottom: 16px;
}

/*Textos*/
.Intro {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 135, 175);
    text-align: center;
    font-size: x-large;
}

.txt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(173, 117, 117);
    text-align: justify;
    font-size: medium;
}

.brochastxt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(173, 117, 117);
    text-align: left;
    font-size: large;
    margin-top: 5px;
}

.brochastxtv {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(173, 117, 117);
    text-align: justify;
    font-size: large;
    margin-top: 5px;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff6593;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(173, 117, 117);
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff6593;
}


/*Redes*/
.redes {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: right
}

/*Flexbox brochas*/

.brochasr {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 15px;
}

.brochas1 {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brochas2 {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brochas3 {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brochas4 {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brochas5 {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Imagenes*/
.skincareimg {
    display: flex;
    justify-content: center;
    width: auto;
    height: 600px;
}

.brochasimg {
    width: 300px;
    height: auto;
}

/*Grid Videos Tutorial*/
.parent1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-wrap: wrap;
}

.tutos {
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}

/*Grid Productos*/

.grid-item {
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    padding: 30px;


}