/*Fondo*/
body {
    background-color: rgb(250, 225, 218);

}

/*Home*/
.HOME {
    padding: 5px;
}

/*Banner*/
.Banner {
    justify-content: center;
    width: 100%;
}

/*Link para volver arriba*/
#Arriba {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: right;
}

a:link {
    color: #fff;
}

a:hover {
    color: #f5658e;
}

a:visited {
    color: rgb(182, 63, 127);
}

a:active {
    color: salmon;
}



/*Footer*/
footer {
    position: relative;
    text-align: right;
    bottom: 0;
    width: 100%;
    padding-bottom: 16px;
}

/*Redes*/
.redes {
    display: flex;
    justify-content: right;
}

.redes1 {
    display: flex;
    padding: 5px;

}

.redes1:hover {

    filter: opacity(0.9);
    transform: scale(1.06);
}

/*Flexbox brochas*/

.brochasr {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 15px;
}

.brochas1 {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brochas2 {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brochas3 {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brochas4 {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brochas5 {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Grid Videos Tutorial*/
.parent1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-wrap: wrap;
}


/*Imagenes*/
.skincareimg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.brochasimg {
    width: 300px;
    height: auto;
}

/* Submenu*/
.nav2 {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
}

.submenu:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.submenu {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/*Textos*/
.Intro {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 135, 175);
    text-align: center;
    font-size: x-large;
}

.txt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(173, 117, 117);
    text-align: justify;
    font-size: medium;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.txtb {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(173, 117, 117);
    text-align: justify;
    font-size: medium;
}

.brochastxt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(173, 117, 117);
    text-align: left;
    font-size: large;
    margin-top: 5px;
}

.brochastxtv {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(173, 117, 117);
    text-align: justify;
    font-size: large;
    margin-top: 5px;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff6593;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(173, 117, 117);
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(173, 117, 117);
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff6593;
    text-align: center;

}

.h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5f4a50;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(173, 117, 117);
}


.intro {
    padding: 30px;
}

.skincaretxt {
    padding: 30px;
}

.prodtxt {
    padding: 30px;
}

.btxt {
    padding: 30px;
}


/*Padding*/
.prod {
    padding: 30px;
}

.mapa {
    padding: 30px;
}

.parent1 {
    padding: 30px;

}

.carousel {
    width: 55%;
    margin: auto;

}

@media only screen and (max-width: 414px) {
    .carousel {
        width: 95%;
    }

    .nav2 {
        display: grid;
    }

}

/*Grid Productos*/

.grid-item {
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    padding: 30px;


}