@import "../base/variables";

header {
    banner {
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 414px) {
    .Banner {
        width: 100%;
    }
}

@media (max-width: 768px) and (max-width: 820px) {
    .Banner {
        width: 100%;
    }
}