@import "../base/variables";

main {
    h1 {
        color: $Tittle-Color;
        text-align: center;

    }

    p {
        color: $Text-color;
    }

    .nav2 {
        display: flex;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-content: center;

        .submenu {
            display: flex;
            justify-content: center;
            padding: 10px;

        }

        .submenu:hover {
            filter: opacity(0.9);
            transform: scale(1.04);
        }
    }

    h2 {
        color: $Text-color;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;

    }

    figcaption {
        width: 30%;
        margin: auto;
    }

    section {

        padding-top: 30px;

        h4 {
            color: $Text-color;
        }
    }
}


@media (max-width: 414px) {
    figcaption {
        width: 95px;
    }

    .nav2 {
        display: grid;
        flex-wrap: wrap;
    }

    iframe {
        width: 100%;
    }
}


@media (max-width: 768px) and (max-width: 820px) {
    figcaption {
        width: 95px;
    }

    .nav2 {
        display: grid;
        flex-wrap: wrap;
    }

    iframe {
        width: 100%;
    }
}